[submodule "pcf-azure"]
	path = pcf-azure
	url = https://github.com/cdelashmutt-pivotal/pcf-azure
[submodule "pcf-google-cloud"]
	path = pcf-google-cloud
	url = https://github.com/Pivotal-Field-Engineering/pcf-google-cloud
